$background-color: #ff9aab;
$width: 30vw;
$nav-color:#fff8b8;
$headings: (h1: 40px, h2:35px, h3: 30px);
@use "sass:list";
@use "sass:math";

@function calcularAnchura($base, $factor, $unit: vw) {
    @return $base * $factor + $unit;
}


@each $tag, $size in $headings {
    #{$tag} {
      font-size: $size;
      font-weight:normal;
    }
}
$rows:#f11b0d,#ef0fe2,#11eedc,#e5ee11,#888377,#f0960e;

@mixin centered{
    display: grid;
    align-items: center;
    text-align: center;
}
@mixin plus{
    margin: 0 auto;
}
@mixin nospace{
    margin: 0;
    padding:0;
}
*{
    @include nospace();
}
#wrapper{
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-areas: "nav header"
                        "nav content"
                        "nav footer";
}
#header{
    background-color: $background-color;
    @include centered;
    grid-area: header;
    
}
#nav{
    background-color: $nav-color;
    @include centered;
    grid-area: nav;

}
#content{
    @include centered;

    img{
        width: $width;
    }
    grid-area: content;
}
#footer{
    background-color: $background-color;
    grid-area: footer;
}

/*MODULOS*/
#modulos{
    table{
        $back-color: #2ced11;
        color: #3e5a64;
        font-family: Arial, Helvetica, sans-serif;
        @include plus;
        tr,td,th{
            border: 1px solid #000;
            height: 4vh;
            padding:3px;
            font-weight: normal;
        }
        td:nth-child(1){
            text-align: left;

        }
        td:nth-child(2){
            text-align: right;
        }
        border-collapse: collapse;
        width: 50vw;
        @each $color in $rows{
            $index: list.index($rows, $color);
            tr:nth-child(#{$index+1}){
            background-color: $color;
            }
        }
        .first{
            background-color: $back-color;
            font-size: 30px;
        }
    }
}


@media (min-width: 400px) {
    #wrapper {
        grid-template-columns: calc(#{calcularAnchura(0, 1)}vw) calc(#{calcularAnchura(100, 1)}vw);
        grid-template-areas: "header header"
                            "content content"
                            "footer footer";
    }
    #nav{
        display: none;
    }
    #modulos{
        table {
            width: 75vw;
            th{
                font-size: 25px;
            }
        }
    } 
}
@media (min-width: 600px) {
    #wrapper {
        grid-template-columns: calc(#{calcularAnchura(20, 1)}vw) calc(#{calcularAnchura(80, 1)}vw);
        grid-template-areas: "header header"
                            "nav content"
                            "nav footer";

    }
    #nav {
        display: block;
        @include centered();

    }
    #modulos{
        table {
            width: 75vw;
            th{
                font-size: 25px;
            }
        }
    } 
}
@media (min-width: 1000px) {
    #wrapper {
        display: grid;
        grid-template-columns: calc(#{calcularAnchura(15, 1)}vw) calc(#{calcularAnchura(85, 1)}vw);
        grid-template-areas: "nav header"
                            "nav content"
                            "nav footer";
    }
    #content{
        table{
            width: 50vw;
        }
    }
    #nav {
        display: block;
        @include centered();
        height: 100%;
    }
}
